<div class="col-md-5 order-md-2 mb-10 card card-body bg">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Produtos Cadastrados</span>
    <span class="badge badge-secondary badge-pill"><%= total_produtos %></span>
  </h4>
  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Disponiveis</h6>
      </div>
      <span class="badge badge-success"><%= @disponiveis %></span> 
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Indisponiveis</h6>
      </div>
      <span class="badge badge-danger"><%= @indisponiveis %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Pronta Entrega</h6>
      </div>
      <span class="badge badge-primary"><%= @pronta_entregas %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Esgotados</h6>
      </div>
      <span class="badge badge-warning"><%= @esgotados %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div class="btn-group">
        <%= link_to 'Lista de Todos Produtos', admin_exportar_lista_produtos_path(format: :csv), class:"btn btn-info" %>
        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <%= link_to 'Produtos Dispniveis', admin_exportar_lista_produtos_path(format: :csv, 
          status: tipo_exportacao_produtos("disponivel")) , class:"dropdown-item" if @disponiveis != 0 %>
          <%= link_to 'Produtos Indisponiveis', admin_exportar_lista_produtos_path(format: :csv, 
          status: tipo_exportacao_produtos("indisponivel")), class:"dropdown-item" if @indisponiveis != 0 %>
          <%= link_to 'Produtos Pronta Entrega', admin_exportar_lista_produtos_path(format: :csv, 
          status: tipo_exportacao_produtos("pronta_entrega")), class:"dropdown-item" if @pronta_entregas != 0 %>
          <%= link_to 'Produtos Esgotados', admin_exportar_lista_produtos_path(format: :csv, 
          status: tipo_exportacao_produtos("esgotado")), class:"dropdown-item" if @esgotados!= 0 %>
        </div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed"> 
      <%= form_tag admin_importar_produtos_path, multipart: :true, remote: :true do %>
      <%= file_field_tag :csv %>
      <br/> <br/>
      <%= submit_tag 'Importar Produtos' %>
      <% end %>
    </li>
  </div>