<br/> <br/> <br/>

<div align="center" id="form-login" class="card card-body bg">
  <h1>Bem vindo</h1>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

  <%= form_tag sessions_path do %>

  <fieldset>
    <div class="field">
      <%= text_field_tag :email, params[:email], class:"form-control form-control-sm", placeholder:"E-mail" %>
    </div>
    <div class="field">
      <%= password_field_tag :password, nil, class:"form-control form-control-sm", placeholder:"Password" %>
    </div>
    <br/> 
    <div class="actions"><%= submit_tag "Entrar", class:"btn btn-primary" %></div>
  </fieldset>

  <% end %>
</div>

<br/> <br/>

<div align="center" id="form-login" class="card card-body bg">
  <h1>Novos Usuarios </h1>
    <fieldset>
      <%= link_to 'Cadastrar', new_user_path, class:"btn btn-primary" %>
    </fieldset>
</div>