<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Finalizar Pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" form="fecha_pedido" value="Submit">Salvar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Preço</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tfoot>
    <td>
      <%= link_to 'Finalizar Pedido', 
      { action: 'abre_modal', },
      remote: :true,
      class: "btn btn-primary" if total_itens_carrinho != 0 %>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tfoot>
  <tbody>
    <% current_cart.items.includes(:product).each do |item| %>
    <tr>
      <td> 
        <h6>
          <%= image_tag product_has_image(item.product), height:'100', width:'100',class:"img-thumbnail" %>
          <%= item.product.name %> 
        </h6>
      </td>
      <td>
        <strong> $ <span class="badge badge-success"> <%= item.price %> </span> </strong>
      </td>
      <td>
        <%= link_to '-', 
        { action: 'remove_quantidade_item',item: item, quantidade: item.amount },
        remote: :true,
        class: "btn btn-danger" if item.amount > 1 %>
        <%= text_field_tag "quantidade_de_#{item.id}", "#{item.amount}", 
        maxlength:  3, size: 1, :onblur => "calcula_quantidade(#{item.id},quantidade_de_#{item.id})" %>
        <%= link_to '+', 
        { action: 'add_quantidade_item',item: item, quantidade: item.amount },
        remote: :true,
        class: "btn btn-primary" %>
      </td>
      <td>
        <%= link_to 'Remover', 
        remove_item_path(item: item),
        remote: :true,
        method: :delete, 
        data: { confirm:"Deseja remover #{item.product.name}" } %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td> <h4> <span> Total </span> </h4> </td>
      <td> <strong> $ <span class="badge badge-danger"> <%= valor_total %> </span> </strong> </td>
      <td> <span class="badge badge-secondary badge-pill"> <%= total_itens_carrinho %> </span> </td>
      <td>
       <%= link_to 'Limpar Carrinho', 
       { action: 'limpa_carrinho'},
       remote: :true,
       method: :delete, 
       data: { confirm:"Deseja remover todos os produtos do seu carrinho ?" } if total_itens_carrinho != 0 %> 
     </td>
   </tr>
 </tbody>
</table>