<%= form_with url: fecha_pedido_path, method: "post", id: 'fecha_pedido', remote: :true do %>

<div class="field">
  <p>
    Observação: <%= text_field_tag 'nota' %>
  </p>

  <h5> Valor Final do Pedido: <%= valor_total %> </h5>
</div>

<br/> <br/>

<% end %>
