<% if current_administrator.present? %>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to 'Home', admin_administrators_path, class:"dropdown-item" %>
          <%= link_to 'Produtos', admin_products_path, class:"dropdown-item" %>
          <%= link_to 'Tabela de Preço', admin_price_tables_path, class:"dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'Pedidos', admin_pedidos_path, class:"btn btn-dark" %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="dropdown">
        <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span> <%= current_administrator.name %> </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to 'Logout', admin_logout_path, class:"dropdown-item" %>
        </div>
      </div>
    </form>
  </div>
</nav>
<% end %>