<br/>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Data do Pedido</th>
      <th scope="col">Valor Total</th>
      <th scope="col">Status</th>
      <th> </th> 
    </tr>
  </thead>
  <tbody>
    <% @pedidos.includes(:user).each do |pedido| %>
    <tr>
      <td> 
        <%= pedido.user.name %>
      </td>
      <td>
        <%= pedido.created_at.strftime("%d/%m/%Y") %>
      </td>
      <td>
        $ <span class="badge badge-success"> <%= pedido.amount %> </span>
      </td>
      <td>
        <%= pedido.status.humanize %> </span>
      </td>
      <td> 
        <%= link_to 'Detalhes', admin_detalhes_pedido_path(user_id: pedido.user.id, pedido_id: pedido.id), 
            class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
 </tbody>
</table>