<br/>
<h1> Meu Pedido: <%= @detalhes_pedido.id %> </h1>
<br/>

<table class="table table-borderless">
  <thead>
    <tr>
      <th> Usuario: <%= @detalhes_pedido.user.name %> </th>
      <th> Valor do Pedido: $ <span class="badge badge-success"> <%= @detalhes_pedido.amount %> </span> </th>
      <th> Data do Pedido: <%= @detalhes_pedido.created_at.strftime("%d/%m/%Y") %> </th>
      <th> </th>
      <th> </th>
    </tr>
    <tr>
      <th> Observações do Pedido: <%= @detalhes_pedido.notes %> </th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th> <h1> Itens </h1> </th>
    </tr>
    <tr>
      <th> Imagem </th>
      <th> Nome </th>
      <th> Preço do Produto </th>
      <th> Quantidade </th>
    </tr>
    <% @detalhes_pedido.items.includes(:product).each do |item| %>
    <tr>
      <td> 
        <%= image_tag product_has_image(item.product), height:'100', width:'100',class:"img-thumbnail" %>
      </td>
      <td> <strong> <%= item.product.name %> </strong> </td>
      <td> <strong> <%= item.price %> </strong> </td>
      <td> <strong> <%= item.amount %> </strong> </td>
    </tr>
  <% end %>
 </tbody>
</table>

<br/>

<%= link_to 'Voltar', admin_pedidos_path , class:"btn btn-warning" %>

<br/>
