$('#tabela').html('<%= escape_javascript(render 'tabela_pedidos_clientes') %>');
$('#paginacao').html('<%= escape_javascript(paginate(@pedidos, :remote => true).to_s) %>');
$('#link_download').html('<%= escape_javascript(link_to "Download", admin_pedidos_path(format: :csv, usuario_escolhido: params[:usuario_escolhido]))%> ');