<br/>
<h2> Pedidos </h2>
<hr/>

<%= form_tag("/admin/pedidos", method: "get", remote: :true, id: 'frm_pesquisar', class:"form-inline") do %>
  <%= select_tag "usuario_escolhido", options_from_collection_for_select(@user, "id", "name"), 
  prompt: "Usuarios", class:"form-control form-control-sm" %> 
  &nbsp; &nbsp;
  <div class="input-group-append">
    <%= submit_tag 'Filtrar', id: 'btnPesquisar', class:"btn btn-primary" %>
  </div>
  &nbsp; &nbsp;
  <div id='link_download'>
    <%= link_to 'Download', admin_pedidos_path(format: :csv, usuario_escolhido: params[:usuario_escolhido]) %> <br/>
  </div>
<% end %> 

<br/>

<div class="row" id="tabela">
  <%= render 'tabela_pedidos_clientes' %>
</div>

<div id="paginacao"> 
  <%= paginate @pedidos, remote: true ,class:"page-item" %>
</div>