<%= form_for @user do |f| %>

<ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

<div class="field">
  <p>
    Name: <%= f.text_field :name, class:"form-control form-control-sm"%>
  </p>

  <p>
    E-mail: <%= f.text_field :email, class:"form-control form-control-sm"%>
  </p>

  <p>
    Password: <%= f.password_field :password, class:"form-control form-control-sm"%> 
  </p>
</div>

<br/> <br/>
<p>
  <%= f.submit 'Salvar', class:"btn btn-primary" %>
</p>

<% end %>