<%= form_with model: @product_price_table, url: [:admin,@price_table, @product_price_table], remote: true, 
    id: 'frmProductPrice' do |ppt| %>

  <ul>
    <% @product_price_table.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <!--  Outro modo para o select
    <%= ppt.select(:product_id, options_for_select(Product.all.map { |b|
      ["#{b.code} | #{b.name}", b.id]}), {prompt: "Selecione um Produto"}, {disabled: !@product_price_table.new_record? }) %>
    <br/><br/> -->

  <% if @product_price_table.new_record? %>
    <%= ppt.select(:product_id, options_for_select(Product.all.map { |b|
      ["#{b.code} | #{b.name}", b.id]}), {prompt: "Selecione um Produto"}) %>
    <br/><br/>
  <% else %>
    <p>Produto: <b><%= @product_price_table.product.name %></b></p>
  <% end %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">R$</span>
    </div>
    <%= ppt.text_field :price, class:"form-control form-control-sm" %>
  </div>
 
<% end %>