$('#product_price_tables').html('<%= escape_javascript(render '/admin/price_tables/precos_tabela') %>');
$('#paginacao').html('<%= escape_javascript(paginate(@product_price_tables, :remote => true).to_s) %>');