<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Código Pedido</th>
      <th scope="col">Valor</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
    <tr>
      <td> 
        <strong> <%= pedido.id %> </strong>
      </td>
      <td>
        <strong> $ <span class="badge badge-success"> <%= pedido.amount %> </span> </strong>
      </td>
      <td>
        <%= link_to 'Detalhes', order_detalhes_pedido_path(current_user, sales_order_id: pedido), 
            class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
 </tbody>
</table>