<br/>
<h2> Meus Pedidos </h2>
<hr/>

<div class="row" id="tabela">
  <%= render 'tabela_meus_pedidos' %>
</div>


<div id="paginacao"> 
  <%= paginate @pedidos, remote: true ,class:"page-item" %>
</div>