<% @catalog_products.each do |product| %>
  <div class="col-sm-4">
    <div class="card border-dark mb-5">
     <%= image_tag product_has_image(product), class:"img-thumbnail" %>
     <div class="card-body">
        <h5 class="card-title"> <%= product.name %> </h5> 
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="badge badge-pill badge-success">R$ <%= product.product_price_tables.first.price %></span>
          <span class="badge <%= product_status_badge(product) %>">
            <%= product.status.humanize %> 
          </span>
          <br/>
            <%= link_to 'Adicionar ao Carrinho', 
                add_item_path(product_id: product),
                method: :post, class:"btn btn-success" if permite_add_produto(product) %> 
            <%= link_to 'Detalhes', catalog_path(product), class:"btn btn-info" %> </li>
        </li>
      </ul>
    </div>
  </div>
<% end %>