<p id="notice"><%= notice %></p>

<%= form_tag("/catalog", method: "get") do %>
<%= select_tag "grade", options_for_select(grade_options), prompt: "Organizar Grade", class:"form-control form-control-sm" %>
<br/>
<%= submit_tag "Pesquisar", class:"btn btn-primary" %>
<% end %>

<br/>

<br/>
<h5> Tabela de Preço: <%= @nome_tabela %> </h5>

<br/>

<div class="row">

<% @catalog_products.each do |product| %>
  <div class="col-sm-4">
    <div class="card border-dark mb-5">
      <%= image_tag product.default_image.image.thumb, class:"img-thumbnail" %>
      <div class="card-body">
        <h5 class="card-title"> <%= product.name %> </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="badge badge-pill badge-success">R$ <%= product.price %></span> 
          <%= link_to 'Detalhes', catalog_path(product), class:"btn btn-info" %></li>
        </li>
      </ul>
    </div>
  </div>

  <% end %>

</div>

<%= paginate @catalog_products, class:"page-item" %>