<p id="notice"><%= notice %></p>


<%= form_tag("/catalog", method: "get", remote: true, class:"form-inline") do %>
  <%= select_tag "grade", options_for_select(grade_options), prompt: "Produtos Por Pagina", class:"form-control form-control-sm" %> 
  &nbsp; &nbsp;
  <%= select_tag "ordem", options_for_select(order_options), prompt: "Filtrar", class:"form-control form-control-sm" %> 
  &nbsp; &nbsp;
  <%= submit_tag "Pesquisar", class:"btn btn-primary" %>
<% end %>

<br/>

<div class="row" id="tabela">
  <%= render 'tabela'%>
</div>

<div id="paginacao"> 
  <%= paginate @catalog_products, remote: true ,class:"page-item" %>
</div>