<p id="notice"><%= notice %></p>

    <div id="container">
      <fieldset>
      Code: <%= @catalog_product.code %>
      <br/>

      Name: <%= @catalog_product.name %>
      <br/>

      Price: <%= @catalog_product.product_price_tables.first.price %>
      <br/>

      <br />

      <% if !@catalog_product.product_images.blank? %>
        <div align="center" id="containerCarousel" class="carrosel">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

              <% @catalog_product.product_images.each_with_index do |img,index| %>
                <% if index == 0 %>
                  <div class="carousel-item active">
                    <%= image_tag img.image, alt: index, style:"height:13rem;width: 13rem;" %>  
                  </div>
                <% else %>
                  <div class="carousel-item">
                    <%= image_tag img.image, alt: index, style:"height:13rem;width: 13rem;"  %>  
                  </div>
                <% end %>
              <% end %>

              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span id="teste" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="btn btn-light" class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="btn btn-light" class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <% end %>

    </fieldset>

  <br/> <br/>

  <%= link_to 'Back', catalog_index_url ,class:"btn btn-warning"%>

  </div>