<%= form_for [:admin,@product] do |f| %>

<ul>
  <% @product.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

<div class="field">
  <p>
    Code: <%= f.text_field :code, class:"form-control form-control-sm" %>
  </p>

  <p>
    Name: <%= f.text_field :name, class:"form-control form-control-sm" %>
  </p>

  <p>
    Status: <%= f.select :status,options_for_select(status_options)%> 
  </p>
</div>

<%= f.fields_for :product_images do |builder| %>
  <%= render 'product_image_fields', f: builder %>
<% end %>

<br/>
<%= link_to_add_fields "Adicionar Imagens", f, :product_images %>

<br/> <br/>
<p>
  <%= f.submit 'Salvar', class:"btn btn-primary" %>
</p>

<% end %>