<fieldset> 
  <div class="card card-body bg"> 
    <% unless f.object.new_record? %>
        <%= image_tag f.object.image.thumb, class:"img-thumbnail", :style => "height:250px;width:250px;"  %> 
        <br/>
    <% end %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remover", '#', class: "remove_fields" %> <br/>
    <%= f.file_field :image %> <br/> <br/>

    <%= f.label :default_image, 'Imagem Padrão' %>
    <%= radio_button_tag 'padrao[image_choice]', f.index, f.object.default_image %>
  </div>
</fieldset>

