<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Status</th>
      <th scope="col">Configurações</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td>
        <span class="badge <%= product_status_badge(product) %>">
          <%= product.status.humanize %> 
        </span>
      </td>
      <td>
        <div class="btn-group">
          <%= link_to 'Detalhes', [:admin,product],  class:"btn btn-info" %>
          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <%= link_to 'Editar', edit_admin_product_path(product), class:"dropdown-item" %> 
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>