<br/>
<h1>Produtos</h1>
<hr/>

  <%= form_tag("/admin/products", method: "get", remote: :true, id: 'frm_pesquisar') do %>
    <div class="input-group-append">
      <%= text_field_tag(:search, params[:search], class:"form-control form-control-sm", placeholder:"Produto") %>
      &nbsp; &nbsp;
      <%= submit_tag 'Pesquisar', id: 'btnPesquisar', class:"btn btn-primary" %>
    </div>
  <% end %>

<br/>

<div class="row" id="tabela">
  <%= render 'tabela' %>
</div>

<%= link_to 'Novo Produto', new_admin_product_path, class:"btn btn-success" %>

<br/> <br/>

<div id="paginacao"> 
  <%= paginate @products, remote: true ,class:"page-item" %>
</div>

<br/> <br/>