<p id="notice"><%= notice %></p>

<h2> Produto </h2>
<hr>

<div id="container">
  <fieldset>
  Código: <%= @product.code %>
  <br/>

  Nome: <%= @product.name %>
  <br/>

  Status: <%= @product.status.humanize %>
  <br/>

  <% if !@product.product_images.blank? %>
    <div align="center" id="containerCarousel" class="carrosel">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <% @product.product_images.each_with_index do |img,index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
                <%= image_tag img.image, alt: index, style:"height:13rem;width: 13rem;" %>  
              </div>
            <% else %>
              <div class="carousel-item">
                <%= image_tag img.image, alt: index, style:"height:13rem;width: 13rem;"  %>  
              </div>
            <% end %>
          <% end %>

          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span id="teste" class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="btn btn-light" class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="btn btn-light" class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <% end %>

  </fieldset>

  <br/> <br/>

  <%= link_to 'Editar', edit_admin_product_path(@product),class:"btn btn-info" %> |
  <%= link_to 'Voltar', admin_products_path ,class:"btn btn-warning"%>

  </div>

  <br/> <br/>
