<%= form_for([:admin, @price_table]) do |f| %>

<ul>
  <% @price_table.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

<div class="field">
  <p>
    Nome: <%= f.text_field :name, class:"form-control form-control-sm"  %>
  </p>

  <p>
    Data Inicio: <%= f.date_field :initial_date, class:"form-control form-control-sm" %>
  </p>

  <p>
    Data Fim: <%= f.date_field :end_date, class:"form-control form-control-sm" %>
  </p>
</div>

<br/> <br/>
<p>
  <%= f.submit 'Salvar', class:"btn btn-primary"%>
</p>

<% end %>
