    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Preço</th>
          <th scope="col">Configurações</th>
        </tr>
      </thead>
      <tbody>
        <% @product_price_tables.each do |ppt| %>
        <tr>
          <td><%= ppt.product.name %></td>
          <td>R$ <%= ppt.price %></td>
          <td>
              <%= link_to 'Editar', edit_admin_price_table_product_price_table_path(@price_table, ppt),
                class: "btn btn-light", remote: true %>
              <%= link_to 'Remover', admin_price_table_product_price_table_path(@price_table, ppt), remote: :true, method: :delete, data: { confirm: "Deseja realmente excluir?" }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>