<p id="notice"><%= notice %></p>

<br/>

<h1>Tabelas de Preço</h1>

<br/> <br/>

<div class="row">
    <div class="card card-body bg-light">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th> Nome </th>
            <th> Data Inicio </th>
            <th> Data Fim </th>
            <th> Configurações </th>
          </tr>
        </thead>

        <tbody>
          <% @price_tables.each do |price_table| %>
          <tr>
            <td> <%= price_table.name %> </td>
            <td> <%= price_table.initial_date.strftime("%d/%m/%Y") %> </td>
            <td> <%= price_table.end_date.strftime("%d/%m/%Y") %> </td>
            <td>
              <div class="btn-group">
                <%= link_to 'Detalhes', admin_price_table_path(price_table), class:"btn btn-secondary" %>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'Editar', edit_admin_price_table_path(price_table), class:"dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'Excluir',  [:admin,price_table], method: :delete, 
                  data: { confirm: 'Certeza ?' }, class:"dropdown-item" %>

                </div>
              </div>
            </td>
          </div>
        </div>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>

<br/>

<%= link_to 'Nova Tabela de Preço', new_admin_price_table_path, class:"btn btn-success" %>
