<p id="notice"><%= notice %></p>

<h1>Tabela de Preço</h1>
<hr/>

<br/>

<div class='table-responsive'>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Data Inicio</th>
        <th scope="col">Data Fim</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @price_table.name %></td>
        <td><%= @price_table.initial_date.strftime("%d/%m/%Y") %></td>
        <td><%= @price_table.end_date.strftime("%d/%m/%Y") %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Editar', edit_admin_price_table_path(@price_table), class:"btn btn-secondary" %> 
<%= link_to 'Voltar', admin_price_tables_path, class:"btn btn-secondary" %> 

<hr/>
<br/>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-secondary" form="frmProductPrice" value="Submit">Salvar</button>
      </div>
    </div>
  </div>
</div>
 
   <%= link_to 'Cadastrar Preços', new_admin_price_table_product_price_table_path(@price_table), 
    class: "btn btn-primary", remote: true %>

<hr/>
<br/>

<div class="card card-body bg-light">
  <h1>Produtos</h1>
  <hr/>

  <%= form_tag(admin_price_table_product_price_tables_path(@price_table), method: "get", remote: :true, id: 'frm_pesquisar') do %>
    <div class="input-group-append">
      <%= text_field_tag(:search, params[:search], class:"form-control form-control-sm", placeholder:"Produto") %>
      &nbsp; &nbsp;
      <%= submit_tag 'Pesquisar', id: 'btnPesquisar', class:"btn btn-primary" %>
    </div>
  <% end %>

  <br/>

  <div class='table-responsive' id='product_price_tables'>
    <%= render 'precos_tabela' %>
  </div>

  <br/> 

  <div id="paginacao"> 
    <%= paginate @product_price_tables, remote: true , class:"page-item" %>
  </div>

</div>

<br/>