// Place all the styles related to the catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-control-sm {
  width: 12rem;
}


.catalogo {

  background-color: black;

  .item {
    width: 100%;
  }
}