<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="dropdown">
    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to 'Catálogo', catalog_index_url, class:"dropdown-item" %>
      <%= link_to 'Logar', login_url, class:"dropdown-item" unless user_authenticated? %>
    </div>
  </div>

  <% if user_authenticated? %>
    <%= render 'usuario' %>
  <% end %>
  
</nav>
