  <%= link_to 'Meu Carrinho', meu_carrinho_path, class:"btn btn-dark" %>
  <%= link_to 'Meus Pedidos', meus_pedidos_orders_path , class:"btn btn-dark" %>
  <div class="dropdown">
    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span> <%= current_user.name %> </span>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to 'Editar', edit_user_path(current_user), class:"dropdown-item" %>
      <%= link_to 'Logout', logout_url, class:"dropdown-item" %>
    </div>
  </div>